.videoDetailsContainer{
    font-family: 'IBM Plex Serif';
    padding:0.5em;
    margin: 0.5em;
    border-left: 2px solid rgba(88, 88, 88, 0.5);
    border-bottom: 2px solid rgba(88, 88, 88, 0.5);
}
.videoDetailsLabel{
    font-size: 40px;
    font-weight:400;
}
.videoCountup{
    font-size: 32px;
    font-weight:400;
    text-align:right;
}

@media only screen and (max-width:1000px){

    .videoDetailsLabel{
        font-size: 20px;
        font-weight:400;
    }
    .videoCountup{
        font-size: 16px;
        font-weight:300;
        text-align:right;
    }
    

}