.mainGridContainer{
    display: grid;
    grid-template-columns:auto auto;
    column-gap:15em;
    row-gap:5em;
    padding-top: 5%;
    align-content:space-between
}
@media only screen and (max-width:1000px){
    .mainGridContainer{
        display: grid;
        grid-template-columns: auto;
        column-gap:1em;
        row-gap:2em;
        padding-top: 5%;
        align-content:space-between
    }
}